{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "rules": {
    "no-param-reassign": 0,
    "max-len": 0,
    "radix": 0,
    "prefer-destructuring": ["error", {
      "array": false,
      "object": true
    }],
    "func-names":"off",
    "no-lonely-if":"off",
    "no-bitwise":"off",
    "no-alert":"off",
    "no-shadow":"off"
  }
}