{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "rules": {
    "no-param-reassign": 0,
    "max-len": 0,
    "radix": 0,
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": true
      }
    ],
    "func-names": "off",
    "no-lonely-if": "off",
    "no-bitwise": "off",
    "no-alert": "off",
    "no-shadow": "off",
    "no-unused-vars": "off",
    "class-methods-use-this": "off",
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "object-curly-newline":"off",
    "no-restricted-globals":"off"
  }
}