
doctype html

html(lang="ru")
    head
        meta(charset="utf-8")
        title "slider"

body
    .layout
        .test-block
            .block_slider
        .test-block
            .block_slider
